:root{
--header-height: 80px;
}

/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div.general-container {
    height: 100vh;
    width: 100%;
}

/* HEADER */
header {
    width: 100%;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

div.difficulty {
    display: inline-block;
}

div.play-btn {
    display: inline-block;
}

/* MAIN */
main {
    width: 100%;
    height: calc(100% - var(--header-height));
    background-color: #7fffd4;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.grid-container {
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

div.grid-box {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.easy {
    width: calc(100% / 10);
    height: calc(100% / 10);
}

.hard{
    width: calc(100% / 9);
    height: calc(100% / 9);
}

.crazy {
    width: calc(100% / 7);
    height: calc(100% / 7);
}

.grid-box span {
    display: none;
}

.clicked {
    background-color: #6495ed;
    color: white;
}

.clicked span {
    display: block;
}

.bomb {
    background-color: #ff0000;
}

.bomb span {
    display: block;
}